#line-container {
  --highlight-color: blue;
  --yours-color: red;
  --light-gray: #888;
  --dark-gray: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

#line-title {
  font-size: 20px;
  margin-bottom: 10px;
}

#line-switches {
  margin-bottom: 10px;
  display: flex;
}

#line-switches .switch {
  margin: 0 10px;
  color: var(--light-gray);
  cursor: pointer;
}

#line-switches .switch:hover {
  color: var(--dark-gray);
}

#line-switches .switch.selected {
  color: var(--dark-gray);
  text-decoration: underline;
}

#line-body {
  display: flex;
}

#line-plot {
  width: 600px;
  height: 400px;
}

#line-plot .highlighted {
  stroke: var(--highlight-color);
  opacity: 0.8;
}

#line-table {
  height: 400px;
  padding-right: 16px;
  overflow-y: scroll;
}

#line-table table {
  border-collapse: collapse;
}

#line-table table tr {
  color: var(--dark-gray);
  cursor: pointer;
}

#line-table table tr:hover {
  background-color: #efefef;
}

#line-table table tr td {
  padding: 0 5px;
}

#line-table table tr td:first-child {
  text-align: right;
}

#line-table table tr.highlighted td {
  color: var(--highlight-color);
}

#line-table table tr.yours td {
  color: var(--yours-color);
  cursor: default;
}

#line-table table tr.yours:hover {
  background-color: transparent;
}
