
.textBar {
    font-size: 1px;       
}
    
.tooltipBar {
    position: absolute;
    display: none;
    width: 120px;
    height: auto;
    background: none repeat scroll 0 0 rgba(85, 85, 85, 0.7);
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    align-content: center;
}
    
.tooltipBar:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 0.7) transparent transparent transparent;
}
    
#bargraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
