/*#form{
    display: flex;
    justify-content: center;
    
}*/

/*#form-body{
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.form-input{
    width:100%;
    grid-column-start: 2;
}
.input-label{
    grid-column-start: 1;
}
#submit{
   
    grid-column-start:1;
    grid-column-end:2;
    width:100%;
}*/
#header{
    text-align: center;
    display:flex;
    justify-content: center;
}
.form-space{
    margin-top: 2px;
}