
#header{
    text-align: center;
    display:flex;
    justify-content: center;
}
.form-space{
    margin-top: 2px;
}
#form{
    page-break-after:always;
}
#scatter-container{
    page-break-before: always;
}