
#header{
    text-align: center;
    display:flex;
    justify-content: center;
}
.form-space{
    margin-top: 2px;
}
#form{
    page-break-after:always;
}
#scatter-container{
    page-break-before: always;
}

#bar-container{
    margin-top:50px;
    text-align: center;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:20% 20% 60%;
}