body {
  font: 11px sans-serif;
  font-family: 'Open Sans', sans-serif;
    
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #ffffff;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
#scatter-container{
    font-family: 'Open Sans', sans-serif;
    margin-top:50px;
    text-align: center;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:20% 20% 60%;
    --highlight-color: blue;
  --yours-color: red;
  --ultra-light-gray: #efefef;
  --light-gray: #888;
  --medium-gray: #666;
  --dark-gray: #333;

  --plot-height: 75vh;
  --plot-width: 60vw;
  --table-title-height: 30px;
  --table-title-size: 17px;
  --table-margin: 18px;
  --table-pad-top: 5px;
  --table-pad-right: 16px
}
#scatter-title{
    grid-column-start:1;
    grid-row-start: 1;
    margin-bottom:20px;
    font-size: 26px;
    
}
#input-form{
    grid-row-start:2;
}
#scatter-plot{
    grid-column-start: 1;
    grid-row-start:3;
}
.input{
    z-index: 100000;
}
html{
  background:#e74c3c;
}

form{
  width:260px;
  height:260px;
  margin:0 auto;
}



p{
  width:100%;
  text-align:center;
  color:white;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
  font-size:32px;
  margin-top:30px;
}

/*.scatter-button{
    background: white ;
    border-radius: 3px;
    color:#EB7F00;
    border: 1px solid #EB7F00;
}

.selected1{
    background: #EB7F00 ;
    border-radius: 3px;
    color:white;
    border: 1px solid #EB7F00;
}*/
#button-row {
  margin-bottom: 10px;
  display: flex;
}

.switch {
  margin: 0 10px;
  color: var(--light-gray);
  cursor: pointer;
}

.switch:hover {
  color: var(--dark-gray);
}

 .switch.selected {
  color: var(--dark-gray);
  text-decoration: underline;
}
